body{
    margin:0 auto;
    /* utiliser background-image et background-repeat differement */
    background:url("../img/bkg.jpg");/*ici on met le chemin de l'image bkg.jpg*/

}
div{
text-align: center;
  
}
h1{
    text-align: center;
    background-color: #000;
    color: #D2E7E2;
    padding: 1vw;/*view width, vh:view height, 1vw vaut 1% de la largeur affiché,*/
}
nav a{
    font-size: 26px;
}
